<header id="header" class="header">
    <div class="container">
        <div class="branding">
            <h1 class="logo">
                <a href="index.html">
                    <span aria-hidden="true" class="icon_documents_alt icon"></span>
                    <span class="text-highlight">RYLAI</span><span class="text-bold">Docs</span>
                </a>
            </h1>
        </div>

        <ol class="breadcrumb">
            <li><a href="index.html">Index</a></li>
            <li class="active">{{ file.getName() }}</li>
        </ol>
        
    </div>
</header>